.qr-form{
    input{
        display: block;
        width:100%;
    }
    span{
        color: red;
        display: block;
    }
    label{
        font-size: 1.1em;
        font-weight: bold;
    }
}

.descripcion-qr{
    display: block;
    font-size: 1.2em;
}

.trash{
    color: red;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dataTable{
    text-align: center;
}